# Combat Implants Limits API
# Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md (v1.0.0)
# Задание: API-SWAGGER/tasks/active/queue/task-003-combat-implants-limits-api.md
# Task ID: API-TASK-003

openapi: 3.0.3
info:
  title: Combat Implants Limits API
  version: 1.0.0
  description: |
    # API для ограничений и энергетики имплантов
    
    ## Описание
    
    Система ограничений имплантов определяет правила установки и использования имплантов персонажа.
    API предоставляет функционал для проверки ограничений имплантов, управления лимитом имплантов
    и управления энергетическим лимитом.
    
    ## Источники
    
    - Оригинальный документ: `.BRAIN/02-gameplay/combat/combat-implants-limits.md`
    - Версия документа: v1.0.0
    - Задание: `API-SWAGGER/tasks/active/queue/task-003-combat-implants-limits-api.md`
    - Task ID: API-TASK-003
    
    ## Комментарии для исполнителя
    
    - Все данные хранятся в БД PostgreSQL
    - Валидация выполняется на бекенде
    - Все операции проверяют ограничения имплантов (слоты, совместимость, общий лимит)
    - Все операции проверяют энергетический лимит (общий пул, индивидуальные ограничения)
    - Все операции учитывают влияние человечности на лимиты

servers:
  - url: https://api.necp.game/v1
    description: Production server

paths:
  # Проверка ограничений имплантов
  /gameplay/combat/implants/{player_id}/slots:
    get:
      summary: Получить доступные слоты имплантов игрока
      description: |
        Возвращает информацию о доступных слотах имплантов игрока по типам.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Ограничения имплантов
      operationId: getImplantSlots
      tags:
        - Combat
        - Implants
        - Limits
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
        - name: type
          in: query
          schema:
            type: string
            enum: [combat, tactical, defensive, mobility, os]
          description: Тип импланта (опционально, для фильтрации)
      responses:
        '200':
          description: Информация о слотах имплантов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantSlots'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  /gameplay/combat/implants/{player_id}/compatibility:
    post:
      summary: Проверить совместимость импланта с установленными
      description: |
        Проверяет совместимость импланта с уже установленными имплантами игрока.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Совместимость
      operationId: checkCompatibility
      tags:
        - Combat
        - Implants
        - Compatibility
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompatibilityCheckRequest'
      responses:
        '200':
          description: Результат проверки совместимости
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  /gameplay/combat/implants/{player_id}/limits:
    get:
      summary: Получить лимиты имплантов игрока
      description: |
        Получает информацию о лимитах имплантов игрока, включая базовый лимит,
        бонусы от класса и прокачки, штрафы от человечности, и текущее использование.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Лимит имплантов
      operationId: getImplantLimits
      tags:
        - Combat
        - Implants
        - Limits
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      responses:
        '200':
          description: Информация о лимитах имплантов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantLimits'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  # Управление лимитом имплантов
  /gameplay/combat/implants/{player_id}/limit:
    get:
      summary: Получить текущий лимит имплантов
      description: Получает текущий лимит имплантов игрока с детализацией бонусов и штрафов.
      operationId: getImplantLimit
      tags:
        - Combat
        - Implants
        - Limits
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      responses:
        '200':
          description: Информация о лимите имплантов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantLimitInfo'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  /gameplay/combat/implants/{player_id}/limit/calculate:
    post:
      summary: Рассчитать лимит имплантов с учетом всех факторов
      description: |
        Рассчитывает лимит имплантов с учетом базового лимита, бонусов от класса/прокачки
        и штрафов от человечности.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Лимит имплантов
      operationId: calculateImplantLimit
      tags:
        - Combat
        - Implants
        - Limits
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateLimitRequest'
      responses:
        '200':
          description: Расчет лимита имплантов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantLimitCalculation'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  # Энергетический лимит
  /gameplay/combat/implants/{player_id}/energy:
    get:
      summary: Получить информацию об энергетическом пуле
      description: |
        Получает информацию об энергетическом пуле игрока, включая общий пул,
        использованную и доступную энергию, скорость восстановления.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Энергетический лимит
      operationId: getEnergyPool
      tags:
        - Combat
        - Implants
        - Energy
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      responses:
        '200':
          description: Информация об энергетическом пуле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyPoolInfo'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  /gameplay/combat/implants/{player_id}/energy/calculate:
    post:
      summary: Рассчитать энергетическое потребление имплантов
      description: |
        Рассчитывает энергетическое потребление имплантов и проверяет,
        можно ли установить импланты с учетом энергетического лимита.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Энергетический лимит
      operationId: calculateEnergyConsumption
      tags:
        - Combat
        - Implants
        - Energy
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateEnergyRequest'
      responses:
        '200':
          description: Расчет энергетического потребления
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyCalculation'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  /gameplay/combat/implants/{player_id}/energy/restore:
    post:
      summary: Восстановить энергию
      description: Восстанавливает энергию игрока (если есть механизм восстановления).
      operationId: restoreEnergy
      tags:
        - Combat
        - Implants
        - Energy
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreEnergyRequest'
      responses:
        '200':
          description: Результат восстановления энергии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyRestoreResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '422':
          $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  /gameplay/combat/implants/{player_id}/energy/limits:
    get:
      summary: Получить индивидуальные энергетические ограничения имплантов
      description: |
        Получает индивидуальные энергетические ограничения для каждого установленного импланта.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Энергетический лимит
      operationId: getIndividualEnergyLimits
      tags:
        - Combat
        - Implants
        - Energy
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      responses:
        '200':
          description: Индивидуальные энергетические ограничения
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndividualEnergyLimits'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  # Проверка установки импланта
  /gameplay/combat/implants/{player_id}/validate-install:
    post:
      summary: Валидировать возможность установки импланта
      description: |
        Валидирует возможность установки импланта с проверкой всех ограничений:
        слоты, совместимость, лимит имплантов, энергетический лимит.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Ограничения имплантов
      operationId: validateInstall
      tags:
        - Combat
        - Implants
        - Validation
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateInstallRequest'
      responses:
        '200':
          description: Результат валидации установки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

components:
  schemas:
    # Слоты имплантов
    ImplantSlots:
      type: object
      required:
        - slots_by_type
      description: |
        Слоты имплантов игрока по типам.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Ограничения имплантов
      properties:
        slots_by_type:
          type: object
          description: Слоты по типам имплантов
          properties:
            combat:
              type: array
              items:
                $ref: '#/components/schemas/SlotInfo'
            tactical:
              type: array
              items:
                $ref: '#/components/schemas/SlotInfo'
            defensive:
              type: array
              items:
                $ref: '#/components/schemas/SlotInfo'
            mobility:
              type: array
              items:
                $ref: '#/components/schemas/SlotInfo'
            os:
              type: array
              items:
                $ref: '#/components/schemas/SlotInfo'

    SlotInfo:
      type: object
      required:
        - slot_id
        - is_occupied
        - can_install
      description: Информация о слоте импланта
      properties:
        slot_id:
          type: string
          format: uuid
          description: Идентификатор слота
        is_occupied:
          type: boolean
          description: Занят ли слот
        installed_implant_id:
          type: string
          format: uuid
          nullable: true
          description: Идентификатор установленного импланта (если занят)
        can_install:
          type: boolean
          description: Можно ли установить имплант в этот слот

    # Совместимость
    CompatibilityResult:
      type: object
      required:
        - is_compatible
      description: |
        Результат проверки совместимости импланта.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Совместимость
      properties:
        is_compatible:
          type: boolean
          description: Совместим ли имплант с установленными
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/Conflict'
          description: Конфликты совместимости
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          description: Предупреждения о совместимости

    Conflict:
      type: object
      required:
        - implant_id
        - reason
        - severity
      description: Конфликт совместимости
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор конфликтующего импланта
        reason:
          type: string
          description: Причина конфликта
        severity:
          type: string
          enum: [low, medium, high, critical]
          description: Серьезность конфликта

    Warning:
      type: object
      required:
        - message
        - type
      description: Предупреждение
      properties:
        message:
          type: string
          description: Текст предупреждения
        type:
          type: string
          enum: [compatibility, energy, limit, quality]
          description: Тип предупреждения

    # Лимиты имплантов
    ImplantLimits:
      type: object
      required:
        - base_limit
        - current_limit
        - used_slots
        - available_slots
      description: |
        Лимиты имплантов игрока.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Лимит имплантов
      properties:
        base_limit:
          type: integer
          minimum: 0
          description: Базовый лимит имплантов
        bonus_from_class:
          type: integer
          minimum: 0
          description: Бонус от класса
        bonus_from_progression:
          type: integer
          minimum: 0
          description: Бонус от прокачки
        humanity_penalty:
          type: integer
          maximum: 0
          description: Штраф от человечности (отрицательное значение)
        current_limit:
          type: integer
          minimum: 0
          description: Текущий лимит имплантов
        used_slots:
          type: integer
          minimum: 0
          description: Использовано слотов
        available_slots:
          type: integer
          minimum: 0
          description: Доступно слотов
        can_exceed_temporarily:
          type: boolean
          description: Можно ли временно превысить лимит
        temporary_exceed_duration:
          type: number
          format: float
          nullable: true
          minimum: 0
          description: Длительность временного превышения в секундах (если превышен)

    ImplantLimitInfo:
      type: object
      required:
        - base_limit
        - current_limit
        - used
        - available
      description: Информация о лимите имплантов
      properties:
        base_limit:
          type: integer
          minimum: 0
          description: Базовый лимит
        bonuses:
          type: object
          description: Бонусы к лимиту
          properties:
            class:
              type: integer
              minimum: 0
            progression:
              type: integer
              minimum: 0
            other:
              type: integer
              minimum: 0
        humanity_penalty:
          type: integer
          maximum: 0
          description: Штраф от человечности
        current_limit:
          type: integer
          minimum: 0
          description: Текущий лимит
        used:
          type: integer
          minimum: 0
          description: Использовано
        available:
          type: integer
          minimum: 0
          description: Доступно
        can_exceed_temporarily:
          type: boolean
          description: Можно ли временно превысить

    ImplantLimitCalculation:
      type: object
      required:
        - base
        - total
      description: |
        Расчет лимита имплантов с учетом всех факторов.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Лимит имплантов
      properties:
        base:
          type: integer
          minimum: 0
          description: Базовый лимит
        bonuses:
          type: object
          description: Бонусы к лимиту
          properties:
            class:
              type: integer
              minimum: 0
            progression:
              type: integer
              minimum: 0
        penalties:
          type: object
          description: Штрафы к лимиту
          properties:
            humanity:
              type: integer
              maximum: 0
            quality:
              type: integer
              maximum: 0
        total:
          type: integer
          minimum: 0
          description: Итоговый лимит
        breakdown:
          type: string
          description: Описание расчета

    # Энергетический лимит
    EnergyPoolInfo:
      type: object
      required:
        - total_pool
        - used
        - available
        - regen_rate
        - current_level
      description: |
        Информация об энергетическом пуле игрока.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Энергетический лимит
      properties:
        total_pool:
          type: number
          format: float
          minimum: 0
          description: Общий энергетический пул
        used:
          type: number
          format: float
          minimum: 0
          description: Использовано энергии
        available:
          type: number
          format: float
          minimum: 0
          description: Доступно энергии
        regen_rate:
          type: number
          format: float
          minimum: 0
          description: Скорость восстановления энергии в единицах/сек
        current_level:
          type: number
          format: float
          minimum: 0
          description: Текущий уровень энергии
        max_level:
          type: number
          format: float
          minimum: 0
          description: Максимальный уровень энергии
        individual_limits:
          type: array
          items:
            $ref: '#/components/schemas/IndividualEnergyLimits'
          description: Индивидуальные ограничения для сложных имплантов

    EnergyCalculation:
      type: object
      required:
        - total_drain
        - can_install
      description: |
        Расчет энергетического потребления имплантов.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Энергетический лимит
      properties:
        total_drain:
          type: number
          format: float
          minimum: 0
          description: Общее потребление энергии
        individual_limits:
          type: array
          items:
            $ref: '#/components/schemas/IndividualLimit'
          description: Индивидуальные ограничения имплантов
        can_install:
          type: boolean
          description: Можно ли установить импланты с учетом энергетического лимита
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          description: Предупреждения о энергетическом потреблении

    IndividualLimit:
      type: object
      required:
        - implant_id
        - limit
        - usage
        - can_exceed
      description: Индивидуальное энергетическое ограничение импланта
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор импланта
        limit:
          type: number
          format: float
          minimum: 0
          description: Индивидуальный лимит энергии
        usage:
          type: number
          format: float
          minimum: 0
          description: Текущее использование энергии
        can_exceed:
          type: boolean
          description: Можно ли превысить индивидуальный лимит

    EnergyRestoreResult:
      type: object
      required:
        - new_level
        - restored_amount
      description: |
        Результат восстановления энергии.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Восстановление энергии
      properties:
        new_level:
          type: number
          format: float
          minimum: 0
          description: Новый уровень энергии
        restored_amount:
          type: number
          format: float
          minimum: 0
          description: Восстановленное количество энергии
        cooldown:
          type: number
          format: float
          nullable: true
          minimum: 0
          description: Кулдаун до следующего восстановления в секундах

    IndividualEnergyLimits:
      type: object
      required:
        - implant_id
        - individual_limit
        - current_usage
        - can_exceed
      description: |
        Индивидуальные энергетические ограничения импланта.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Энергетический лимит
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор импланта
        individual_limit:
          type: number
          format: float
          minimum: 0
          description: Индивидуальный лимит энергии
        current_usage:
          type: number
          format: float
          minimum: 0
          description: Текущее использование энергии
        can_exceed:
          type: boolean
          description: Можно ли превысить индивидуальный лимит
        penalty_on_exceed:
          type: object
          nullable: true
          description: Штрафы при превышении лимита
          additionalProperties: true

    # Валидация
    ValidationResult:
      type: object
      required:
        - can_install
        - slot_available
        - compatibility_ok
        - limit_ok
        - energy_ok
      description: |
        Результат валидации установки импланта.
        Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md -> Ограничения имплантов
      properties:
        can_install:
          type: boolean
          description: Можно ли установить имплант
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/Reason'
          description: Причины отказа (если can_install=false)
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          description: Предупреждения
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Ошибки валидации
        slot_available:
          type: boolean
          description: Доступен ли слот для установки
        compatibility_ok:
          type: boolean
          description: Совместим ли имплант с установленными
        limit_ok:
          type: boolean
          description: Не превышен ли лимит имплантов
        energy_ok:
          type: boolean
          description: Достаточно ли энергии для установки

    Reason:
      type: object
      required:
        - message
        - type
        - severity
      description: Причина отказа в установке
      properties:
        message:
          type: string
          description: Текст причины
        type:
          type: string
          enum: [slot, compatibility, limit, energy, quality]
          description: Тип причины
        severity:
          type: string
          enum: [low, medium, high, critical]
          description: Серьезность причины

    Error:
      type: object
      required:
        - message
        - code
      description: Ошибка валидации
      properties:
        message:
          type: string
          description: Текст ошибки
        code:
          type: string
          description: Код ошибки

    # Request модели
    CompatibilityCheckRequest:
      type: object
      required:
        - implant_id
        - target_slot
      description: Запрос на проверку совместимости
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор импланта для проверки
        target_slot:
          type: string
          format: uuid
          description: Целевой слот для установки

    CalculateLimitRequest:
      type: object
      description: Запрос на расчет лимита имплантов
      properties:
        class_bonus:
          type: integer
          minimum: 0
          description: Бонус от класса
        progression_bonus:
          type: integer
          minimum: 0
          description: Бонус от прокачки
        humanity_level:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Уровень человечности (0-100)

    CalculateEnergyRequest:
      type: object
      required:
        - implant_ids
      description: Запрос на расчет энергетического потребления
      properties:
        implant_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Идентификаторы имплантов для расчета

    RestoreEnergyRequest:
      type: object
      required:
        - amount
        - method
      description: Запрос на восстановление энергии
      properties:
        amount:
          type: number
          format: float
          minimum: 0
          description: Количество энергии для восстановления
        method:
          type: string
          enum: [natural, consumable, ability, other]
          description: Метод восстановления энергии

    ValidateInstallRequest:
      type: object
      required:
        - implant_id
        - target_slot
      description: Запрос на валидацию установки импланта
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор импланта для установки
        target_slot:
          type: string
          format: uuid
          description: Целевой слот для установки

  # Импорт стандартных ответов
  responses:
    BadRequest:
      $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
    UnprocessableEntity:
      $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
    InternalServerError:
      $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'

  # Импорт схем безопасности
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'















