openapi: 3.0.3
info:
  title: Combat Weapons API
  version: 1.0.0
  description: |
    API для детальной системы оружия в стиле Cyberpunk.
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-weapon-classes-detailed.md v1.0.0
    
    Особенности:
    - 7 классов оружия: Pistols, Assault Rifles, Shotguns, Sniper Rifles, SMG, LMG, Melee
    - 80+ моделей оружия из лора Cyberpunk
    - 5 брендов: Arasaka, Militech, Kang Tao, Budget Arms, Constitutional Arms
    - Weapon Mastery: 5 ranks (Novice → Legend)
    - Weapon Mods система
    - Exotic/Legendary оружие
    - Cyberware оружие: Mantis Blades, Gorilla Arms, Monowire

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://api-dev.necp.game/v1
    description: Development server

tags:
  - name: Weapons
    description: Система оружия
  - name: Mastery
    description: Weapon Mastery система

paths:
  /gameplay/combat/weapons:
    get:
      summary: Получить каталог оружия
      description: |
        Возвращает список всего доступного оружия.
        Можно фильтровать по классу, бренду, редкости.
      operationId: getWeaponsCatalog
      tags:
        - Weapons
      parameters:
        - name: weapon_class
          in: query
          required: false
          schema:
            type: string
            enum: [pistol, assault_rifle, shotgun, sniper_rifle, smg, lmg, melee, cyberware]
        - name: brand
          in: query
          required: false
          schema:
            type: string
        - name: rarity
          in: query
          required: false
          schema:
            type: string
            enum: [common, uncommon, rare, epic, legendary, iconic]
      responses:
        '200':
          description: Каталог оружия
          content:
            application/json:
              schema:
                type: object
                properties:
                  weapons:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeaponSummary'

  /gameplay/combat/weapons/{weapon_id}:
    get:
      summary: Получить детали оружия
      description: Возвращает полную информацию о конкретном оружии
      operationId: getWeapon
      tags:
        - Weapons
      parameters:
        - name: weapon_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали оружия
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeaponDetails'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/weapons/brands/{brand}:
    get:
      summary: Получить оружие по бренду
      description: Возвращает все оружие указанного бренда
      operationId: getWeaponsByBrand
      tags:
        - Weapons
      parameters:
        - name: brand
          in: path
          required: true
          schema:
            type: string
            enum: [arasaka, militech, kang_tao, budget_arms, constitutional_arms]
      responses:
        '200':
          description: Оружие бренда
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand:
                    type: string
                  weapons:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeaponSummary'

  /gameplay/combat/weapons/classes/{class}:
    get:
      summary: Получить оружие по классу
      description: Возвращает все оружие указанного класса
      operationId: getWeaponsByClass
      tags:
        - Weapons
      parameters:
        - name: class
          in: path
          required: true
          schema:
            type: string
            enum: [pistol, assault_rifle, shotgun, sniper_rifle, smg, lmg, melee, cyberware]
      responses:
        '200':
          description: Оружие класса
          content:
            application/json:
              schema:
                type: object
                properties:
                  weapon_class:
                    type: string
                  weapons:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeaponSummary'

  /gameplay/combat/weapons/mastery/{character_id}:
    get:
      summary: Получить прогресс Weapon Mastery
      description: |
        Возвращает прогресс владения оружием для персонажа.
        5 рангов: Novice, Adept, Expert, Master, Legend.
      operationId: getWeaponMastery
      tags:
        - Mastery
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Прогресс Mastery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeaponMasteryProgress'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/weapons/mastery:
    put:
      summary: Обновить Weapon Mastery
      description: Обновляет прогресс владения оружием (при убийствах)
      operationId: updateWeaponMastery
      tags:
        - Mastery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - weapon_id
                - kills
              properties:
                character_id:
                  type: string
                weapon_id:
                  type: string
                kills:
                  type: integer
                  description: Количество убийств этим оружием
      responses:
        '200':
          description: Mastery обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeaponMasteryProgress'

  /gameplay/combat/weapons/mods:
    get:
      summary: Получить доступные моды оружия
      description: Возвращает список всех модов для оружия
      operationId: getWeaponMods
      tags:
        - Weapons
      parameters:
        - name: weapon_class
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Список модов
          content:
            application/json:
              schema:
                type: object
                properties:
                  mods:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeaponMod'

  /gameplay/combat/weapons/meta/{content_type}:
    get:
      summary: Получить мета оружие
      description: |
        Возвращает рекомендованное мета оружие для типа контента
        (PvE, PvP, Extraction, Raid).
      operationId: getMetaWeapons
      tags:
        - Weapons
      parameters:
        - name: content_type
          in: path
          required: true
          schema:
            type: string
            enum: [pve, pvp, extraction, raid]
      responses:
        '200':
          description: Мета оружие
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_type:
                    type: string
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        weapon_id:
                          type: string
                        rank:
                          type: string
                          enum: [S, A, B, C, D]
                        reason:
                          type: string

components:
  schemas:
    WeaponSummary:
      type: object
      required:
        - id
        - name
        - weapon_class
        - rarity
      properties:
        id:
          type: string
        name:
          type: string
        weapon_class:
          type: string
          enum: [pistol, assault_rifle, shotgun, sniper_rifle, smg, lmg, melee, cyberware]
        brand:
          type: string
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary, iconic]
        damage:
          type: number
        fire_rate:
          type: number

    WeaponDetails:
      type: object
      required:
        - id
        - name
        - weapon_class
        - rarity
        - stats
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        lore:
          type: string
          description: Лор из Cyberpunk 2077
        weapon_class:
          type: string
          enum: [pistol, assault_rifle, shotgun, sniper_rifle, smg, lmg, melee, cyberware]
        subclass:
          type: string
          description: Подкласс (например, revolver, semi-auto pistol)
        brand:
          type: string
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary, iconic]
        stats:
          $ref: '#/components/schemas/WeaponStats'
        special_abilities:
          type: array
          description: Специальные способности оружия
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              cooldown:
                type: number
        mod_slots:
          type: integer
          description: Количество слотов для модов
        compatible_mods:
          type: array
          items:
            type: string
        requirements:
          type: object
          properties:
            level:
              type: integer
            attributes:
              type: object
              description: Требования к атрибутам (REF, TECH и т.д.)

    WeaponStats:
      type: object
      properties:
        damage:
          type: number
        fire_rate:
          type: number
          description: Выстрелов/ударов в секунду
        magazine_size:
          type: integer
        reload_time:
          type: number
          description: Время перезарядки (секунды)
        accuracy:
          type: number
          description: Точность (%)
        range_effective:
          type: number
          description: Эффективная дальность (м)
        range_max:
          type: number
          description: Максимальная дальность (м)
        movement_penalty:
          type: number
          description: Штраф к скорости при движении (%)
        crit_chance:
          type: number
        crit_damage:
          type: number
        penetration:
          type: number
          description: Проникающая способность

    WeaponMasteryProgress:
      type: object
      properties:
        character_id:
          type: string
        weapon_class:
          type: string
        rank:
          type: string
          enum: [novice, adept, expert, master, legend]
          description: |
            Novice: 0-100 kills
            Adept: 100-500 kills
            Expert: 500-2000 kills
            Master: 2000-5000 kills
            Legend: 5000-10000 kills
        total_kills:
          type: integer
        kills_to_next_rank:
          type: integer
        bonuses:
          type: array
          description: Бонусы от Mastery
          items:
            type: object
            properties:
              bonus_type:
                type: string
              value:
                type: number

    WeaponMod:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [scope, silencer, magazine, barrel, stock, grip, smart_link, other]
        stat_modifiers:
          type: object
          description: Изменения характеристик оружия
        compatible_classes:
          type: array
          description: Совместимые классы оружия
          items:
            type: string

