openapi: 3.0.3
info:
  title: Random Events Extended API
  version: 1.0.0
  description: |
    API для расширенной системы случайных событий.
    
    Функционал:
    - 73 события перемещений (2020-2093)
    - Event triggers (условия появления)
    - Dynamic event generation
    - Event consequences
    - Event chains
    - Player choices impact
    - Reputation & faction effects
    
    События охватывают все периоды:
    - 2020-2030: Destruction and Restoration
    - 2030-2045: Early Corpo Wars
    - 2045-2060: Time of the Red
    - 2060-2077: Corporate Control
    - 2078-2090: New Equilibrium
    - 2090-2093: Pre-Revolution
    
    Источник: .BRAIN/04-narrative/quests/side/EVENTS-ALL-PERIODS.md v1.0.0

servers:
  - url: https://api.necp.game/v1
    description: Production server

tags:
  - name: Random Events
    description: Случайные события
  - name: Event Triggers
    description: Триггеры событий
  - name: Event History
    description: История событий

paths:
  /gameplay/world/random-events:
    get:
      summary: Получить список случайных событий
      operationId: listRandomEvents
      tags: [Random Events]
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [2020-2030, 2030-2045, 2045-2060, 2060-2077, 2078-2090, 2090-2093]
        - name: category
          in: query
          schema:
            type: string
            enum: [COMBAT, SOCIAL, ECONOMY, EXPLORATION, FACTION, STORY]
        - name: location_type
          in: query
          description: Тип локации где событие может произойти
          schema:
            type: string
            enum: [CITY, BADLANDS, CORPO_ZONE, COMBAT_ZONE, MARKET, CLUB]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список событий
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RandomEvent'

  /gameplay/world/random-events/{event_id}:
    get:
      summary: Получить детали события
      operationId: getRandomEvent
      tags: [Random Events]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RandomEventDetailed'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/world/random-events/trigger:
    post:
      summary: Триггернуть случайное событие
      operationId: triggerRandomEvent
      tags: [Event Triggers]
      description: Используется backend системами для генерации событий
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerEventRequest'
      responses:
        '200':
          description: Событие триггернуто
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggeredEventInstance'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/world/random-events/character/{character_id}/active:
    get:
      summary: Получить активные события для персонажа
      operationId: getActiveEvents
      tags: [Random Events]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Активные события
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_events:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActiveEventInstance'
                  max_active_events:
                    type: integer
                    example: 5

  /gameplay/world/random-events/character/{character_id}/resolve:
    post:
      summary: Разрешить событие (сделать выбор)
      operationId: resolveEvent
      tags: [Random Events]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveEventRequest'
      responses:
        '200':
          description: Событие разрешено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResolutionResult'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/world/random-events/character/{character_id}/history:
    get:
      summary: Получить историю случайных событий
      operationId: getEventHistory
      tags: [Event History]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          schema:
            type: string
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: История событий
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EventHistoryEntry'

  /gameplay/world/random-events/generate:
    post:
      summary: Сгенерировать событие для локации
      operationId: generateEventForLocation
      tags: [Event Triggers]
      description: Backend вызывает при перемещении игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - location_id
              properties:
                character_id:
                  type: string
                  format: uuid
                location_id:
                  type: string
                location_type:
                  type: string
                time_of_day:
                  type: string
                  enum: [MORNING, DAY, EVENING, NIGHT]
      responses:
        '200':
          description: Событие сгенерировано или нет
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_generated:
                    type: boolean
                  event:
                    $ref: '#/components/schemas/TriggeredEventInstance'
                    nullable: true
                  generation_chance_was:
                    type: number
                    format: float

components:
  schemas:
    RandomEvent:
      type: object
      properties:
        event_id:
          type: string
          example: "event_badlands_ambush"
        name:
          type: string
          example: "Badlands Ambush"
        description:
          type: string
        category:
          type: string
          enum: [COMBAT, SOCIAL, ECONOMY, EXPLORATION, FACTION, STORY]
        period:
          type: string
          example: "2060-2077"
        base_trigger_chance:
          type: number
          format: float
          description: Базовый шанс появления (0-1)
          example: 0.15
        trigger_conditions:
          $ref: '#/components/schemas/TriggerConditions'
        possible_outcomes_count:
          type: integer
          example: 3

    RandomEventDetailed:
      allOf:
        - $ref: '#/components/schemas/RandomEvent'
        - type: object
          properties:
            full_description:
              type: string
            trigger_locations:
              type: array
              items:
                type: string
            time_restrictions:
              type: object
              properties:
                time_of_day:
                  type: array
                  items:
                    type: string
                    enum: [MORNING, DAY, EVENING, NIGHT]
                weather:
                  type: array
                  items:
                    type: string
            npcs_involved:
              type: array
              items:
                type: object
                properties:
                  npc_id:
                    type: string
                  role:
                    type: string
            choices:
              type: array
              items:
                $ref: '#/components/schemas/EventChoice'
            outcomes:
              type: array
              items:
                $ref: '#/components/schemas/EventOutcome'

    TriggerConditions:
      type: object
      properties:
        min_level:
          type: integer
          nullable: true
        max_level:
          type: integer
          nullable: true
        required_reputation:
          type: object
          additionalProperties:
            type: integer
          nullable: true
        required_items:
          type: array
          items:
            type: string
          nullable: true
        previous_events:
          type: array
          description: События, которые должны произойти раньше
          items:
            type: string
          nullable: true
        mutually_exclusive_with:
          type: array
          description: События, с которыми несовместимо
          items:
            type: string
          nullable: true

    EventChoice:
      type: object
      properties:
        choice_id:
          type: string
        text:
          type: string
          example: "Help the stranded nomad"
        skill_check:
          type: object
          nullable: true
          properties:
            skill:
              type: string
            difficulty:
              type: integer
        item_requirement:
          type: string
          format: uuid
          nullable: true
        reputation_requirement:
          type: object
          additionalProperties:
            type: integer
          nullable: true
        leads_to_outcome:
          type: string

    EventOutcome:
      type: object
      properties:
        outcome_id:
          type: string
        description:
          type: string
        consequences:
          type: object
          properties:
            reputation_changes:
              type: object
              additionalProperties:
                type: integer
            items_gained:
              type: array
              items:
                type: object
                properties:
                  item_id:
                    type: string
                    format: uuid
                  quantity:
                    type: integer
            items_lost:
              type: array
              items:
                type: object
            currency_change:
              type: object
              properties:
                eddies:
                  type: integer
            experience_gained:
              type: integer
            unlocks:
              type: array
              description: Квесты/локации/NPC
              items:
                type: string
            follow_up_events:
              type: array
              description: События, которые могут появиться после
              items:
                type: string

    TriggerEventRequest:
      type: object
      required:
        - event_id
        - character_id
        - location_id
      properties:
        event_id:
          type: string
        character_id:
          type: string
          format: uuid
        location_id:
          type: string
        override_chance:
          type: boolean
          default: false
          description: Для тестирования - заставить событие произойти

    TriggeredEventInstance:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event:
          $ref: '#/components/schemas/RandomEventDetailed'
        triggered_at:
          type: string
          format: date-time
        location:
          type: string
        expires_at:
          type: string
          format: date-time
          description: Время, после которого событие исчезает

    ActiveEventInstance:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event:
          $ref: '#/components/schemas/RandomEvent'
        triggered_at:
          type: string
          format: date-time
        time_remaining_seconds:
          type: integer

    ResolveEventRequest:
      type: object
      required:
        - instance_id
        - choice_id
      properties:
        instance_id:
          type: string
          format: uuid
        choice_id:
          type: string

    EventResolutionResult:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        choice_made:
          type: string
        skill_check_result:
          type: object
          nullable: true
          properties:
            success:
              type: boolean
            roll:
              type: integer
            modifier:
              type: integer
        outcome:
          $ref: '#/components/schemas/EventOutcome'
        consequences_applied:
          type: object
          description: Фактически примененные последствия

    EventHistoryEntry:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event_id:
          type: string
        event_name:
          type: string
        choice_made:
          type: string
        outcome_achieved:
          type: string
        triggered_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        consequences_summary:
          type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

