# Target Architecture:
# - Microservice: notification-service (port 8092)
# - API Base: /api/v1/notifications
# - Dependencies: auth-service, session-service, realtime-service, template-service, analytics-service, economy-service, mail-service, push-gateway, moderation-service
# - Frontend Module: modules/system/notifications (useNotificationStore)
# - UI: NotificationCenter, NotificationToast, NotificationPreferences, QuietHoursForm, NotificationHistory, NotificationChannelBadge
# - Forms: PreferenceUpdateForm, SubscribeChannelForm, QuietHoursForm, NotificationSearchForm
# - Hooks: useNotifications, useNotificationPreferences, useNotificationSocket, useQuietHours

openapi: 3.0.3
info:
  title: Notification System API
  description: "Универсальная платформа уведомлений NECPGAME: inbox, push, email, предпочтения, история, аналитика."
  version: 1.0.0
servers:
  - url: https://api.necp.game/v1
security:
  - BearerAuth: []
tags:
  - name: Inbox
    description: Получение и управление уведомлениями игрока
  - name: Delivery
    description: Отправка и доставляемость уведомлений
  - name: Preferences
    description: Настройки каналов, тихие часы, устройства
  - name: Templates
    description: Шаблоны, локализация и тестовые отправки
  - name: Integrations
    description: Webhooks и realtime события
paths:
  /notifications/inbox:
    get:
      tags: [Inbox]
      summary: Получить текущие уведомления игрока
      parameters:
        - in: query
          name: channel
          schema: { type: string, enum: [IN_GAME, PUSH, EMAIL, SMS] }
        - in: query
          name: status
          schema: { type: string, enum: [UNREAD, READ, ARCHIVED] }
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Inbox уведомления
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationInboxResponse' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/history:
    get:
      tags: [Inbox]
      summary: История уведомлений
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: category
          schema: { type: string }
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Архив уведомлений
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationHistoryResponse' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/send:
    post:
      tags: [Delivery]
      summary: Отправить индивидуальное уведомление
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationSendRequest' }
            examples:
              questComplete:
                $ref: './notifications-examples.yaml#/components/examples/QuestCompleteSend'
      responses:
        '202':
          description: Отправка поставлена в очередь
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationSendResponse' }
        '400':
          description: Некорректный payload или канал
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '422': { $ref: '../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /notifications/send/batch:
    post:
      tags: [Delivery]
      summary: Массовая отправка уведомлений
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationBatchRequest' }
      responses:
        '202':
          description: Batch отправка принята
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationBatchResponse' }
        '400':
          description: Ошибка сегментации или превышен лимит
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/test:
    post:
      tags: [Delivery]
      summary: Тестовая отправка шаблона
      security:
        - GMToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationTestRequest' }
      responses:
        '200':
          description: "Тест отправлен"
        '400':
          description: "Ошибка шаблона"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/preferences:
    get:
      tags: [Preferences]
      summary: Получить предпочтения игрока
      responses:
        '200':
          description: Настройки каналов
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationPreferencesResponse' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
    put:
      tags: [Preferences]
      summary: Обновить предпочтения
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationPreferencesUpdateRequest' }
            examples:
              preferencesUpdate:
                $ref: './notifications-examples.yaml#/components/examples/PreferencesUpdate'
      responses:
        '200':
          description: "Предпочтения обновлены"
        '400':
          description: "Недопустимые значения"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/quiet-hours:
    get:
      tags: [Preferences]
      summary: Получить тихие часы игрока
      responses:
        '200':
          description: Текущие тихие часы
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/QuietHours' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
    put:
      tags: [Preferences]
      summary: Настроить тихие часы
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/QuietHoursUpdateRequest' }
      responses:
        '200':
          description: "Тихие часы обновлены"
        '400':
          description: "Недопустимый интервал"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/devices:
    get:
      tags: [Preferences]
      summary: Список устройств игрока
      responses:
        '200':
          description: Зарегистрированные устройства
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationDevicesResponse' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      tags: [Preferences]
      summary: Зарегистрировать устройство
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationDeviceRegisterRequest' }
      responses:
        '201':
          description: "Устройство зарегистрировано"
        '400':
          description: "Неверный токен устройства"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/devices/{deviceId}:
    delete:
      tags: [Preferences]
      summary: Удалить устройство
      parameters:
        - $ref: './notifications-components.yaml#/components/parameters/DeviceId'
      responses:
        '204':
          description: "Устройство удалено"
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/templates:
    get:
      tags: [Templates]
      summary: Получить список шаблонов
      security:
        - ServiceToken: []
      responses:
        '200':
          description: Доступные шаблоны
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationTemplatesResponse' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/templates/render:
    post:
      tags: [Templates]
      summary: Предпросмотр шаблона
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationTemplateRenderRequest' }
      responses:
        '200':
          description: Результат рендера
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationTemplateRenderResponse' }
        '400':
          description: "Ошибка рендера"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/delivery:
    get:
      tags: [Delivery]
      summary: Метрики доставляемости
      security:
        - ServiceToken: []
      parameters:
        - in: query
          name: notificationId
          schema: { type: string }
        - in: query
          name: channel
          schema: { type: string }
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Статусы доставки
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationDeliveryResponse' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/ack:
    post:
      tags: [Inbox]
      summary: Подтвердить получение уведомления
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationAckRequest' }
      responses:
        '200':
          description: "Статус обновлён"
        '400':
          description: "Уведомление не найдено"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/{notificationId}:
    delete:
      tags: [Inbox]
      summary: Скрыть уведомление
      parameters:
        - $ref: './notifications-components.yaml#/components/parameters/NotificationId'
      responses:
        '204':
          description: "Уведомление скрыто"
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/webhooks:
    post:
      tags: [Integrations]
      summary: Настроить webhook для уведомлений
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationWebhookRequest' }
      responses:
        '201':
          description: "Webhook настроен"
        '400':
          description: "Ошибка валидации"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /notifications/retry/{notificationId}:
    post:
      tags: [Delivery]
      summary: Повторить отправку уведомления
      security:
        - GMToken: []
      parameters:
        - $ref: './notifications-components.yaml#/components/parameters/NotificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationRetryRequest' }
      responses:
        '202':
          description: "Повторная отправка запланирована"
        '400':
          description: "Лимит ретраев исчерпан"
          content:
            application/json:
              schema: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }

x-websocket:
  url: wss://api.necp.game/v1/notifications/stream
  description: Realtime поток уведомлений
  messages:
    notificationReceived:
      summary: Новое уведомление игрока
      payload: { $ref: './notifications-components.yaml#/components/schemas/Notification' }
    notificationUpdated:
      summary: Обновление статуса уведомления
      payload: { $ref: './notifications-components.yaml#/components/schemas/NotificationStatusEvent' }
    deliveryStatus:
      summary: Изменение статуса доставки
      payload: { $ref: './notifications-components.yaml#/components/schemas/DeliveryStatus' }
    preferenceUpdated:
      summary: Обновлены предпочтения пользователя
      payload: { $ref: './notifications-components.yaml#/components/schemas/NotificationPreferences' }
    deviceUpdated:
      summary: Изменение состояния устройства
      payload: { $ref: './notifications-components.yaml#/components/schemas/NotificationDevice' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
    GMToken: { $ref: '../shared/common/security.yaml#/components/securitySchemes/GMToken' }
  parameters:
    NotificationId: { $ref: './notifications-components.yaml#/components/parameters/NotificationId' }
    DeviceId: { $ref: './notifications-components.yaml#/components/parameters/DeviceId' }
  schemas:
    Notification: { $ref: './notifications-components.yaml#/components/schemas/Notification' }
    NotificationError: { $ref: './notifications-components.yaml#/components/schemas/NotificationError' }
    NotificationPreferences: { $ref: './notifications-components.yaml#/components/schemas/NotificationPreferences' }
  examples:
    QuestCompleteSend: { $ref: './notifications-examples.yaml#/components/examples/QuestCompleteSend' }
    PreferencesUpdate: { $ref: './notifications-examples.yaml#/components/examples/PreferencesUpdate' }

