openapi: 3.0.3
info:
  title: Player Character Lifecycle API
  version: 1.0.0
  description: |
    Character lifecycle management for player accounts: creation, soft deletion, restoration, slot expansion,
    active character switching, appearance updates and stat recalculation workflows.
    Source: .BRAIN/05-technical/backend/player-character-mgmt/character-management.md v1.1.0.
    Related: part1-creation-deletion.md, part2-switching-management.md.
  x-microservice:
    name: character-service
    port: 8082
    domain: characters
    base-path: /api/v1/characters/players
    directory: api/v1/characters/players
    package: com.necpgame.characterservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Development API Gateway
tags:
  - name: CharacterLifecycle
    description: CRUD and restoration of characters for player accounts
  - name: CharacterSwitching
    description: Switching active characters and refreshing sessions
  - name: CharacterCustomization
    description: Appearance updates and stat recalculations
  - name: CharacterSlots
    description: Slot management and premium slot purchases
  - name: CharacterAudit
    description: Activity logs and compliance reporting
paths:
  /characters/players/accounts/{accountId}/characters:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
    get:
      tags: [CharacterLifecycle]
      summary: List characters for account
      description: Returns all characters for a player account including soft-deleted entries with restoration metadata.
      security:
        - PlayerSession: []
      parameters:
        - $ref: './players-models.yaml#/components/parameters/IncludeDeleted'
        - $ref: './players-models.yaml#/components/parameters/IncludeSnapshots'
      responses:
        '200':
          description: Character list
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    post:
      tags: [CharacterLifecycle]
      summary: Create character
      description: Creates a new character within available slots, provisioning starter inventory, quests and publishing lifecycle events.
      security:
        - PlayerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './players-models-operations.yaml#/components/schemas/CharacterCreateRequest'
            examples:
              netrunner:
                summary: Create netrunner streetkid
                value:
                  name: "NeonGhost"
                  origin: "STREETKID"
                  characterClass: "NETRUNNER"
                  appearance:
                    bodyType: "slim"
                    skinTone: "warm_medium"
                    hairStyle: "buzzcut"
                    hairColor: "#00e5ff"
                    eyeColor: "#ff0090"
                    tattoos: ["microchip_sleeve"]
                  seed: "a1f0c9b2"
      responses:
        '201':
          description: Character created
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterCreateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/characters/{characterId}:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
      - $ref: './players-models.yaml#/components/parameters/CharacterIdPath'
    delete:
      tags: [CharacterLifecycle]
      summary: Soft delete character
      description: Marks character as deleted, releases slot and enqueues restore record while preserving inventory references.
      security:
        - PlayerSession: []
      responses:
        '202':
          description: Character soft-deleted
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterDeleteResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/characters/{characterId}/restore:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
      - $ref: './players-models.yaml#/components/parameters/CharacterIdPath'
    post:
      tags: [CharacterLifecycle]
      summary: Restore character
      description: Restores a previously soft-deleted character within the grace period including inventory linkage revalidation.
      security:
        - PlayerSession: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: './players-models-operations.yaml#/components/schemas/CharacterRestoreRequest'
      responses:
        '200':
          description: Character restored
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterRestoreResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '410':
          description: Restore window expired
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterRestoreExpiredResponse'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/switch:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
    post:
      tags: [CharacterSwitching]
      summary: Switch active character
      description: Switches the active character tied to the session, persisting snapshots and invalidating combat sessions if required.
      security:
        - PlayerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './players-models-operations.yaml#/components/schemas/CharacterSwitchRequest'
      responses:
        '200':
          description: Active character switched
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterSwitchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '423':
          description: Switch locked due to combat or cinematic
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterSwitchLockedResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/characters/{characterId}/appearance:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
      - $ref: './players-models.yaml#/components/parameters/CharacterIdPath'
    patch:
      tags: [CharacterCustomization]
      summary: Patch character appearance
      description: Applies partial updates to character appearance with validation against cosmetic catalogs and progression unlocks.
      security:
        - PlayerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './players-models-operations.yaml#/components/schemas/CharacterAppearancePatch'
      responses:
        '200':
          description: Appearance updated
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterAppearanceResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/characters/{characterId}/recalculate:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
      - $ref: './players-models.yaml#/components/parameters/CharacterIdPath'
    post:
      tags: [CharacterCustomization]
      summary: Recalculate derived stats
      description: Forces recalculation of derived stats after equipment or skill changes and publishes stats update events.
      security:
        - PlayerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './players-models-operations.yaml#/components/schemas/CharacterStatsRecalculateRequest'
      responses:
        '202':
          description: Recalculation accepted
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterRecalculateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/activity:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
      - $ref: './players-models.yaml#/components/parameters/ActivityTypeFilter'
      - $ref: './players-models.yaml#/components/parameters/ActivityDateFrom'
      - $ref: './players-models.yaml#/components/parameters/ActivityDateTo'
      - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
      - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
    get:
      tags: [CharacterAudit]
      summary: List character activity
      description: Returns paginated audit trail of character lifecycle operations including moderator interventions.
      security:
        - ModeratorSession: []
      responses:
        '200':
          description: Activity list
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterActivityListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/slots:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
    get:
      tags: [CharacterSlots]
      summary: Get slot state
      description: Provides current slot allocation, premium purchases and requirements for next expansion tier.
      security:
        - PlayerSession: []
      responses:
        '200':
          description: Slot state
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterSlotStateResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /characters/players/accounts/{accountId}/slots/purchase:
    parameters:
      - $ref: './players-models.yaml#/components/parameters/AccountIdPath'
    post:
      tags: [CharacterSlots]
      summary: Purchase slot expansion
      description: Initiates premium slot purchase through economy-service and updates slot limits upon transaction confirmation.
      security:
        - PlayerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './players-models-operations.yaml#/components/schemas/CharacterSlotPurchaseRequest'
      responses:
        '202':
          description: Slot purchase accepted
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterSlotPurchaseResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402':
          description: Payment required or insufficient funds
          content:
            application/json:
              schema:
                $ref: './players-models-operations.yaml#/components/schemas/CharacterSlotPaymentRequiredResponse'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
components:
  responses:
    BadRequest:
      $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
    UnprocessableEntity:
      $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
    TooManyRequests:
      $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests'
    InternalServerError:
      $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  securitySchemes:
    PlayerSession:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/PlayerSession'
    ModeratorSession:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/ModeratorSession'
  schemas:
    CharacterCreatedEvent:
      $ref: './players-models-operations.yaml#/components/schemas/CharacterCreatedEvent'
    CharacterDeletedEvent:
      $ref: './players-models-operations.yaml#/components/schemas/CharacterDeletedEvent'
    CharacterRestoredEvent:
      $ref: './players-models-operations.yaml#/components/schemas/CharacterRestoredEvent'
    CharacterSwitchedEvent:
      $ref: './players-models-operations.yaml#/components/schemas/CharacterSwitchedEvent'
    CharacterStatsUpdatedEvent:
      $ref: './players-models-operations.yaml#/components/schemas/CharacterStatsUpdatedEvent'
    CharacterLifecycleQueues:
      $ref: './players-models-operations.yaml#/components/schemas/CharacterLifecycleQueues'

