openapi: 3.0.3
info:
  title: Economy Events API
  version: 1.0.0
  description: |
    API для экономических событий.
    
    Функционал:
    - 4 основных типа событий
    - Trade wars & sanctions
    - Corporate events (scandals, M&A, breakthroughs)
    - Commodity events (resource shortages)
    - Price impact
    - Availability changes
    - Event triggers
    - Market reactions
    
    Типы событий:
    - CRISIS: экономические кризисы
    - INFLATION: инфляция
    - RECESSION: рецессия
    - BOOM: экономический бум
    - TRADE_WAR: торговые войны
    - CORPORATE: корпоративные события
    - COMMODITY: дефицит ресурсов
    
    Источник: .BRAIN/02-gameplay/economy/economy-events.md v1.0.0

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Economy Events
    description: Экономические события
  - name: Market Impact
    description: Влияние на рынок
  - name: Event Management
    description: Управление событиями

paths:
  /gameplay/economy/events:
    get:
      summary: Получить текущие экономические события
      operationId: getEconomyEvents
      tags: [Economy Events]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [CRISIS, INFLATION, RECESSION, BOOM, TRADE_WAR, CORPORATE, COMMODITY]
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Экономические события
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EconomyEvent'

  /gameplay/economy/events/{event_id}:
    get:
      summary: Получить детали события
      operationId: getEconomyEvent
      tags: [Economy Events]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyEventDetailed'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/economy/events/impact:
    get:
      summary: Получить суммарное влияние событий на экономику
      operationId: getEconomyImpact
      tags: [Market Impact]
      responses:
        '200':
          description: Влияние на экономику
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyImpact'

  /gameplay/economy/events/impact/item/{item_id}:
    get:
      summary: Получить влияние событий на предмет
      operationId: getItemEventImpact
      tags: [Market Impact]
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Влияние на предмет
          content:
            application/json:
              schema:
                type: object
                properties:
                  item_id:
                    type: string
                    format: uuid
                  base_price:
                    type: integer
                  current_price:
                    type: integer
                  price_multiplier:
                    type: number
                  affecting_events:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventEffect'

  /gameplay/economy/events/history:
    get:
      summary: Получить историю экономических событий
      operationId: getEconomyEventHistory
      tags: [Economy Events]
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            default: 30
        - name: type
          in: query
          schema:
            type: string
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: История событий
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EconomyEventHistoryEntry'

  /gameplay/economy/events/predictions:
    get:
      summary: Получить предсказания событий
      operationId: getEventPredictions
      tags: [Economy Events]
      description: AI предсказания возможных событий
      responses:
        '200':
          description: Предсказания
          content:
            application/json:
              schema:
                type: object
                properties:
                  predictions:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventPrediction'

  /gameplay/economy/events/admin/trigger:
    post:
      summary: Запустить экономическое событие
      operationId: triggerEconomyEvent
      tags: [Event Management]
      description: Только для администраторов
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerEventRequest'
      responses:
        '201':
          description: Событие запущено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyEvent'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /gameplay/economy/events/{event_id}/end:
    post:
      summary: Завершить событие досрочно
      operationId: endEconomyEvent
      tags: [Event Management]
      description: Только для администраторов
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Событие завершено
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

components:
  schemas:
    EconomyEvent:
      type: object
      properties:
        event_id:
          type: string
          format: uuid
        name:
          type: string
          example: "Corporate Stock Market Crash"
        type:
          type: string
          enum: [CRISIS, INFLATION, RECESSION, BOOM, TRADE_WAR, CORPORATE, COMMODITY]
        severity:
          type: string
          enum: [MINOR, MODERATE, MAJOR, CATASTROPHIC]
        affected_regions:
          type: array
          items:
            type: string
        affected_sectors:
          type: array
          items:
            type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
          nullable: true
        is_active:
          type: boolean

    EconomyEventDetailed:
      allOf:
        - $ref: '#/components/schemas/EconomyEvent'
        - type: object
          properties:
            description:
              type: string
            causes:
              type: array
              items:
                type: string
            effects:
              type: array
              items:
                $ref: '#/components/schemas/EventEffect'
            market_reactions:
              type: object
              properties:
                stock_changes:
                  type: object
                  additionalProperties:
                    type: number
                    description: Изменение в %
                commodity_changes:
                  type: object
                  additionalProperties:
                    type: number
                currency_impact:
                  type: object
                  additionalProperties:
                    type: number
            player_opportunities:
              type: array
              description: Возможности для игроков
              items:
                type: string

    EventEffect:
      type: object
      properties:
        effect_type:
          type: string
          enum: [PRICE_CHANGE, AVAILABILITY_CHANGE, ACCESS_RESTRICTION, TAX_CHANGE]
        target:
          type: string
          description: Что затронуто
        multiplier:
          type: number
          format: float
        description:
          type: string

    EconomyImpact:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        active_events_count:
          type: integer
        overall_market_health:
          type: string
          enum: [STRONG, STABLE, WEAK, CRISIS]
        price_index_change:
          type: number
          format: float
          description: Общее изменение цен (%)
        sector_impacts:
          type: object
          additionalProperties:
            type: number
          example:
            weapons: 1.25
            cyberware: 0.85
            food: 1.10

    EconomyEventHistoryEntry:
      type: object
      properties:
        event_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        severity:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        duration_days:
          type: integer
        impact_summary:
          type: string

    EventPrediction:
      type: object
      properties:
        event_type:
          type: string
        probability:
          type: number
          format: float
          description: Вероятность (0-1)
        estimated_timeframe:
          type: string
          example: "7-14 days"
        triggers:
          type: array
          description: Что может вызвать событие
          items:
            type: string
        potential_impact:
          type: string
          enum: [MINOR, MODERATE, MAJOR]

    TriggerEventRequest:
      type: object
      required:
        - event_type
      properties:
        event_type:
          type: string
          enum: [CRISIS, INFLATION, RECESSION, BOOM, TRADE_WAR, CORPORATE, COMMODITY]
        name:
          type: string
        severity:
          type: string
          enum: [MINOR, MODERATE, MAJOR, CATASTROPHIC]
        duration_days:
          type: integer
        affected_regions:
          type: array
          items:
            type: string
        custom_effects:
          type: array
          items:
            $ref: '#/components/schemas/EventEffect'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

