# ============================================================
# Target Architecture
# ============================================================
# Backend:
#   - Microservice: social-service (port 8084)
#   - API Paths: /api/v1/social/player-orders/*
#   - Dependencies: economy-service, world-service, factions-service, relationships-service, npc-service, content-service, telemetry-service
# Frontend:
#   - Module: modules/social/player-orders/create-wizard
#   - State: useSocialStore (playerOrders, budgetSimulator, validationSummary)
#   - UI Components: @shared/ui (OrderCreateWizard, BudgetSimulator, OrderValidationSummary, GuaranteeSelector, RiskLevelBadge)
#   - Forms: @shared/forms (OrderBriefForm, OrderBudgetForm, OrderGuaranteeForm, InviteListForm)
#   - Hooks: @shared/hooks (useEconomyRates, useFactionPermissions, useRelationshipsSearch, useRealtime, useDebounce)
# ============================================================
openapi: 3.0.3
info:
  title: Player Orders Creation API
  version: 1.1.0
  description: |
    Контракт social-service для мастера создания заказов игроков: бриф, оценка бюджета,
    валидация, гарантии и публикация. Обновлено на основе
    `.BRAIN/_02-gameplay/social/player-orders-creation-детально.md` v1.0.0 (approved, api-readiness: ready).
servers:
  - url: https://api.necpgame.com/v1
    description: Production
security:
  - BearerAuth: []
tags:
  - name: Player Order Templates
    description: Получение доступных шаблонов и подсказок
  - name: Player Orders
    description: Управление жизненным циклом заказа
  - name: Player Order Budget
    description: Расчёт бюджета и escrow
  - name: Player Order Validation
    description: Полная валидация заказов
paths:
  /api/v1/social/player-orders/templates:
    get:
      tags: [Player Order Templates]
      summary: Получить шаблоны заказов
      description: Возвращает шаблоны заказов с подсказками, рекомендуемыми гарантиями и предзаполненными брифами.
      operationId: listPlayerOrderTemplates
      responses:
        '200':
          description: Шаблоны успешно получены
          content:
            application/json:
              schema:
                $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderTemplateList'
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /api/v1/social/player-orders:
    post:
      tags: [Player Orders]
      summary: Создать заказ (черновик)
      description: Создаёт новый заказ и сохраняет бриф в статусе `draft`.
      operationId: createPlayerOrder
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderCreateRequest'
      responses:
        '201':
          description: Заказ создан
          content:
            application/json:
              schema:
                $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderDraft'
              examples:
                draft:
                  $ref: './player-orders-components.yaml#/components/examples/CombatDraftExample'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../shared/common/responses.yaml#/components/responses/Conflict' }
    get:
      tags: [Player Orders]
      summary: Получить заказы пользователя
      description: Возвращает список заказов и черновиков с фильтрами по шаблону, статусу и режиму публикации.
      operationId: listPlayerOrders
      parameters:
        - $ref: './player-orders-components.yaml#/components/parameters/TemplateFilter'
        - $ref: './player-orders-components.yaml#/components/parameters/OrderStatusFilter'
        - $ref: './player-orders-components.yaml#/components/parameters/VisibilityFilter'
        - $ref: '../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список заказов возвращён
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderSummary'
                  pagination:
                    $ref: '../shared/common/pagination.yaml#/components/schemas/PaginationMeta'
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /api/v1/social/player-orders/{orderId}:
    parameters:
      - $ref: './player-orders-components.yaml#/components/parameters/OrderId'
    get:
      tags: [Player Orders]
      summary: Получить заказ
      description: Возвращает полную информацию по заказу, включая бриф, бюджет, гарантии и публикацию.
      operationId: getPlayerOrder
      responses:
        '200':
          description: Заказ найден
          content:
            application/json:
              schema:
                $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderSummary'
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../shared/common/responses.yaml#/components/responses/NotFound' }
    patch:
      tags: [Player Orders]
      summary: Обновить бриф заказа
      description: Вносит изменения в бриф заказа в статусах `draft`, `pending_estimate` или `pending_validation`.
      operationId: updatePlayerOrder
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderUpdateRequest'
      responses:
        '200':
          description: Заказ обновлён
          content:
            application/json:
              schema:
                $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderDraft'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../shared/common/responses.yaml#/components/responses/Conflict' }
  /api/v1/social/player-orders/{orderId}/estimate:
    post:
      tags: [Player Order Budget]
      summary: Рассчитать бюджет заказа
      description: Рассчитывает бюджет, escrow и комиссию с учётом сложности, рисков и рыночных индексов.
      operationId: estimatePlayerOrderBudget
      parameters:
        - $ref: './player-orders-components.yaml#/components/parameters/OrderId'
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderEstimateRequest'
      responses:
        '200':
          description: Бюджет успешно рассчитан
          content:
            application/json:
              schema:
                $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderBudgetEstimate'
              examples:
                estimate:
                  $ref: './player-orders-components.yaml#/components/examples/EstimateRequestExample'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '422': { $ref: '../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '500': { $ref: '../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /api/v1/social/player-orders/{orderId}/validate:
    post:
      tags: [Player Order Validation]
      summary: Запустить полную валидацию
      description: Выполняет чек-лист валидаций (полнота, юридические ограничения, санкции, токсичность, бюджет).
      operationId: validatePlayerOrder
      parameters:
        - $ref: './player-orders-components.yaml#/components/parameters/OrderId'
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderValidationRequest'
      responses:
        '200':
          description: Результаты валидации
          content:
            application/json:
              schema:
                $ref: './player-orders-validation-components.yaml#/components/schemas/PlayerOrderValidationResult'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../shared/common/responses.yaml#/components/responses/Conflict' }
        '500': { $ref: '../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /api/v1/social/player-orders/{orderId}/publish:
    post:
      tags: [Player Orders]
      summary: Опубликовать заказ
      description: Фиксирует гарантии, блокирует escrow и уведомляет приглашённых исполнителей.
      operationId: publishPlayerOrder
      parameters:
        - $ref: './player-orders-components.yaml#/components/parameters/OrderId'
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderPublishRequest'
      responses:
        '202':
          $ref: './player-orders-components.yaml#/components/responses/PlayerOrderPublishAccepted'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /api/v1/social/player-orders/{orderId}/cancel:
    post:
      tags: [Player Orders]
      summary: Отменить заказ
      description: Отменяет заказ, управляет escrow и уведомляет исполнителей.
      operationId: cancelPlayerOrder
      parameters:
        - $ref: './player-orders-components.yaml#/components/parameters/OrderId'
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderCancelRequest'
      responses:
        '202':
          $ref: './player-orders-components.yaml#/components/responses/PlayerOrderCancellationAccepted'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /api/v1/social/player-orders/{orderId}/attachments:
    post:
      tags: [Player Orders]
      summary: Загрузить вложение
      description: Прикрепляет файл к заказу и возвращает метаданные из content-service.
      operationId: uploadPlayerOrderAttachment
      parameters:
        - $ref: './player-orders-components.yaml#/components/parameters/OrderId'
      requestBody:
        $ref: './player-orders-components.yaml#/components/requestBodies/PlayerOrderAttachmentUploadRequest'
      responses:
        '201':
          description: Вложение сохранено
          content:
            application/json:
              schema:
                $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderAttachment'
        '400': { $ref: '../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../shared/common/responses.yaml#/components/responses/Conflict' }
components:
  securitySchemes:
    BearerAuth:
      $ref: '../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
x-kafka-topics:
  social.player-orders.draft.saved:
    summary: Черновик сохранён
    payload:
      $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderDraft'
  social.player-orders.validation.failed:
    summary: Валидация не пройдена
    payload:
      $ref: './player-orders-validation-components.yaml#/components/schemas/PlayerOrderValidationResult'
  social.player-orders.published:
    summary: Заказ успешно опубликован
    payload:
      $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderPublicationInfo'
  economy.player-orders.escrow.locked:
    summary: Escrow заблокирован economy-service
    payload:
      $ref: './player-orders-components.yaml#/components/schemas/PlayerOrderPublicationInfo'
  telemetry.player-orders.anomaly.detected:
    summary: Зафиксирована аномалия бюджета или валидации
    payload:
      type: object
      required: [orderId, anomalyType, detectedAt]
      properties:
        orderId:
          type: string
          format: uuid
        anomalyType:
          type: string
          enum: [budget_over_median, budget_under_minimum, validation_retry_loop, escrow_lock_timeout]
        detectedAt:
          type: string
          format: date-time
        details:
          type: string

